.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  padding: 3rem;
  /* min-height: 100vh; */
}
.h1 {
  font-size: 4rem;
}
.p {
  font-size: 1.3rem;
}
.desc {
  color: red;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}
.logo {
  font-size: 2rem;
  font-weight: 700;
}
.links {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.links > li {
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s linear;
}
.links > li:hover {
  color: blue;
}
