.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  text-align: center;
  padding: 3rem;
}
.h1 {
  font-size: 4rem;
}
.p {
  font-size: 1.3rem;
}
.desc {
  color: red;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.logo {
  font-size: 1.4rem;
  font-weight: 700;
}
.links {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.links > li {
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s linear;
}
.links > li:hover {
  color: blue;
}

.homeImg {
  object-fit: fill;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
  margin: 5px auto;
}

/* Blog CSS */

.blogGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  margin: 8px auto;
  padding: 8px;
}
.blog {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.4);
  padding: 8px 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}
.blog:hover {
  background: rgba(255, 255, 255, 0.9);
}
.blog > * {
  margin: 5px auto;
}
.blog > h2 {
  font-size: 1.4rem;
}

@media (width >= 700px) {
  .blogGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .navbar {
    padding: 2rem 6rem;
  }
  .logo {
    font-size: 2rem;
  }
}
